:root {
  --header-bg: #fff;
  --border-color: #d0d7de;
  --header-height: 50px;
  --header-logo-size: 38px;
  --font-color: #4c4948;
}
@font-face {
  font-family: ZhuZiAYuanJWD;
  src: url(https://cdn.cbd.int/anzhiyu-blog@1.1.6/fonts/ZhuZiAWan.woff2);
  font-display: swap;
  font-weight: lighter;
}
* {
  margin: 0;
  padding: 0;
  font-family: ZhuZiAYuanJWD;
  cursor: url(../img/x1.cur), auto;
}
top {
  display: flex;
  background-color: var(--header-bg);
  user-select: none;
  align-items: center;
  justify-content: space-between;
  z-index: 9;
  height: var(--header-height);

  width: 100vw;
  box-shadow: 0 6px 7.5px -2px rgba(0, 0, 0, 0.075), 0 12.5px 19px 0 rgba(0, 0, 0, 0.023), 0 4.5px 25px 0 rgba(0, 0, 0, 0.023);
}
#Logo {
  width: var(--header-logo-size);
  height: var(--header-logo-size);
}
#LogoBar {
  height: var(--header-logo-size);
  position: relative;
  left: calc((var(--header-height) - var(--header-logo-size)) / 2);
  display: flex;
  align-items: center;
}
#LogoBar > a {
  height: var(--header-logo-size);
  width: var(--header-logo-size);
  display: block;
  margin-right: calc((var(--header-height) - var(--header-logo-size)) / 2);
}
linkbutton {
  font-size: 18px;
  color: var(--font-color);
  padding: 8px 10px;
  border-radius: 8px;
  cursor: url(../img/x2.cur), auto;
  transition: 0.3s;
}
linkbutton:hover {
  background-color: #e4ebec;
}
#SideNav > linkbutton {
  margin: 6px;
  background-color: #f7f7f7;
}
nav {
  position: relative;
  right: 5px;
}
nav > linkbutton {
  margin-left: -10px;
}
#MobileNav {
  display: none;
}
#SideNav {
  height: calc(100vh - var(--header-height));
  width: 0;
  position: absolute;
  z-index: 10;
  top: var(--header-height);
  right: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 6px 7.5px -2px rgba(0, 0, 0, 0.075), 0 12.5px 0px 0 rgba(0, 0, 0, 0.075), 0 4.5px 0px 0 rgba(0, 0, 0, 0.075);
  background-color: var(--header-bg);
  overflow-x: hidden;
  transition: 0.5s;
}
label {
  font-size: 30px;
  margin-right: 60px;
  text-align: center;
  position: relative;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: ZhuZiAYuanJWD;
  background-image: linear-gradient(90deg, #ffeb3b, #10ff00b8 33%, #00ecff);
  color: transparent;
  display: inline;
  font-style: normal !important;
  font-weight: inherit !important;
  bottom: 30px;
  user-select: none;
}
header {
  position: fixed;
}
#DownloadButton {
  display: block;
  line-height: 40px;
  background: #0070ff;
  border-radius: 4px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  width: 200px;
  height: 54px;
  line-height: 54px;
  border-radius: 8px;
  font-size: 20px;
  margin-top: 20px;
  border: 0;
  text-decoration: none !important;
  font-weight: 500;
}
main {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: calc(100vh - var(--header-height) - 1px);
}
main > div > label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main > div {
  display: flex;
}
#BigLogo {
  width: calc(0.53 * 100vw);
  max-width: 410px;
}
@media screen and (max-width: 560px) {
  #PCNav {
    display: none;
  }
  #MobileNav {
    display: block;
  }
  main > div {
    flex-direction: column;
    align-items: center;
  }
  main > div > label {
    margin: 0;
    margin-top: 25px;
  }
}
